body {
    background-image: url(../images/crystalBackground.jpg);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif,'Times New Roman', Times, serif;
}

.title-container h1{
    color: #ffffff;
    margin-left: 10px;
    letter-spacing: 5px;
}
.instructions-container{
    width: 600px;
    border: 1px solid rgb(255,255,255, .8);
    border-radius: 25px;
    margin-bottom: 30px;
    
}
.instructions-container p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}
.four-crystals-container{
    display: flex;
    width: 620px;
    height: 200px;
}

.randCrystal{
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #cccccc;
}

#score-to-match{
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;

}

#wins {
    margin-left: 10px;
    color: #ffffff;
}

#loss{
    margin-left: 10px;
    color: #ffffff;
}
.scoreWinLossContainer{
    height: 150px;
    margin-bottom: 20px;
    
}

.scoreToMatchContainer{
    display: block;
    width: 200px;
    height: 150px;
    margin-right: 10px;
    float: left;
    border: 1px solid rgb(255,255,255, .8);
    border-radius: 25px;
}

.winLoseContainer{
    display: block;
    float: left;
    border: 1px solid rgb(255,255,255, .8);
    border-radius: 25px;
    float: left;
    height: 150px;
    width: 200px;
}

#roundCrystal{
    height: 170px;
}

#user-score-header{
    font-size: 36px;
    color: #ffffff;
}
.user-count-container{
    height: 50px;;
    width: 230px;
    text-align: center;
    margin-top: -15px;
}

#user-score{
    font-size: 75px;
    color: #ffffff;
    margin-top: -30px;
    width: 230px;
    text-align: center;
    
}